body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0; /* Correction : supprimer le padding pour enlever l'espace autour de la page */
}

.container {
  max-width: 600px;
  margin: 60px auto 0; /* Correction : ajouter un espace au-dessus du container pour laisser place à la barre de navigation */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.member {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.edit-button2 {
  background-color: red;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
